<h1>Angular Taschenrechner</h1>
    <div class="container">
      <div class="header">Calculator</div>
      <input type="text" class="result" value="{{viewString}}" disabled>
  
      <div class="first-row">
        <input type="button" #number_7 name="" value="7" class="global" (click)=addNumber(number_7.value)>
        <input type="button" #number_8 name="" value="8" class="global" (click)=addNumber(number_8.value)>
        <input type="button" #number_9 name="" value="9" class="global" (click)=addNumber(number_9.value)>
        <input type="button" #calc_div name="" value="/" class="global" (click)=addOperation(calc_div.value)>
      </div>
      <div class="second-row">
        <input type="button" #number_4 name="" value="4" class="global" (click)=addNumber(number_4.value)>
        <input type="button" #number_5 name="" value="5" class="global" (click)=addNumber(number_5.value)>
        <input type="button" #number_6 name="" value="6" class="global" (click)=addNumber(number_6.value)>
        <input type="button" #calc_multi name="" value="X" class="global" (click)=addOperation(calc_multi.value)>
      </div>
      <div class="thirt-row">
        <input type="button" #number_1 name="" value="1" class="global" (click)=addNumber(number_1.value)>
        <input type="button" #number_2 name="" value="2" class="global" (click)=addNumber(number_2.value)>
        <input type="button" #number_3 name="" value="3" class="global" (click)=addNumber(number_3.value)>
        <input type="button" #calc_min name="" value="-" class="global" (click)=addOperation(calc_min.value)>
      </div>
      <div class="conflict">
        <div class="left">
          <input type="button" #number_0 name="" value="0" class=" big" (click)=addNumber(number_0.value)>
          <input type="button" name="" value="Del" class=" red small white-text top-margin" (click)=reset()>
          <input type="button" name="" value="=" class=" green white-text medium top-margin" (click)=calculate()>
        </div>
        <div class="right">
          <input type="button" #calc_plus  name="" value="+" class="global grey plus" (click)=addOperation(calc_plus.value)>
        </div>
      </div>
    </div>
